name: Build and run Maestro tests (Native Android)

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    container:
      image: docker.io/cypress/browsers

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: 14

      - uses: mobile-dev-inc/action-maestro-cloud@v1
        with:
          api-key: rb_oiEoV5u1pHnsOIfsA6seGpllbZRSYCRC6f8ReCE7yDEjoKHtllJxRiGakYjmeizIXqLVHZEqxdoNiannF0sRL7XqFeCoQJiU4GO
          # note that you can supply the project id any way you like, it is not secret
          project-id: proj_01kbn687vafgzbs2ywzttq87c8
          app-file: qazandoqafood.apk
